<div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
  <!-- Modal Inner Container -->
  <div class="fixed top-0 left-0 w-full h-full relative">
    <!-- Modal Card -->
    <div class="w-screen h-screen bg-white">
      <div class="flex flex-wrap justify-center items-start h-screen">
        <div class="w-2/3 m-auto">
          <h3 class="mb-4">Clients can enter their own information!</h3>
          <div class="ml-3 flex-1 md:flex md:justify-between items-start">
            <p class="text-sm text-blue-700">
              <button class="btn btn-small btn-primary mb-4" data-controller="clipboard" data-clipboard-text="<%= new_client_sign_up_link_url(current_account.slug) %>">
                <%= render_svg "icons/duplicate", styles: "fill-current icon-sm", title: "search" %> &nbsp Copy Link
              </button>
            </p>
            <p class="mt-1 text-sm">
              <%= link_to new_client_sign_up_link_path(current_account.slug), target: "_blank", class: "whitespace-nowrap font-medium text-blue-700 hover:text-blue-600" do %>
                See form <span aria-hidden="true">&rarr;</span>
              <% end %>
            </p>
          </div>

          <div class="flex justify-end items-center flex-wrap mt-6">
            <button class="btn btn-danger" data-action="click->modal#close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>