<h4>Hello <%= @client.first_name %>!

<p><%= @client.client_profiles.first.reminder_message %></p>

<p>Please pay at one of the following links.</p>

<ul>
  <% @account.sp_payment_links.each do |link| %>
    <li><%= link_to link.name, "link.link" %></li>
  <% end %>
</ul>

<h2>Thanks!</h2>